
@import "tailwindcss";

:root {
  --color-near-black: #010202;
  --color-deep-surface: #0E1716;
  --color-card-slate: #1E2320;
  --color-border-slate: #2D332E;
  --color-text-slate: #49514A;
  --color-chrome-gray: #A9B0AF;
  --color-white-ui: #FAFBFB;
  --color-deep-teal: #0C373B;
  --color-dark-teal: #115553;
  --color-primary-teal: #079D84;
  --color-glow-teal: #1DDFBD;
  --color-neon-highlight: #7EFCF4;
}

body {
  background: var(--color-near-black);
  color: var(--color-white-ui);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

.bb-search-input::placeholder {
  color: var(--color-white-ui);
  opacity: 0.8;
}

